
<!DOCTYPE html>
<html>
<head>
    <title>Real-Time Weather Monitoring</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/app.js"></script>
</head>
<body>
    <h1>Weather Monitoring Dashboard</h1>
    <div id="weather_data">
        <!-- Weather data will be dynamically inserted here -->
    </div>
    <br>
    <h2>Daily Summaries</h2>
    <div id="daily_summary">
        <!-- Daily summaries will be dynamically inserted here -->
    </div>
</body>
</html>
